@charset "utf-8";

/* 
SUMMARY :

01 VISUAL
*/

/* visual */

.visual_wrap {position:relative}
.visual {overflow:hidden;position:relative;z-index:1;height:697px}

.visual .slick-slide {float:left}
.visual .slick-track {overflow:hidden}
.visual .slick-track div {height:697px}

.visual div.d_01 {background:url(../img/main/visual_01.jpg) repeat 50% 50%}
.visual div.d_02 {background:url(../img/main/visual_02.jpg) repeat 50% 50%}
.visual div.d_03 {background:url(../img/main/visual_03.jpg) repeat 50% 50%}
.visual div.d_04 {background:url(../img/main/visual_01.jpg) repeat 50% 50%}

.message {width:1200px;margin:0 auto}
.message p.tit {margin:240px 0 0 0;font-size:56px;font-weight:300;line-height:60px;color:#fff}  

.message p.tit {
    opacity: 0;
    filter: Alpha(opacity=0);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    transform: translateX(10%);
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.visual .slick-slide.slick-active .message p.tit {
    opacity: 1.0;
    filter: Alpha(opacity=100);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.message p + p {font-size:46px;color:#fff}

.visual .slick-dots {position:relative;bottom:140px;width:1200px;z-index:1000;margin:0 auto}
.visual .slick-dots li {display:inline-block}
.visual .slick-dots span {display:block;overflow:hidden;width:10px;height:10px;margin:0 7px 0 0;background:#fff;text-indent:-999px;cursor:pointer;border-radius:5px}
.visual .slick-dots li.slick-active span {width:22px;height:10px;background:#e64053}

.visual_btn {position:relative;width:1060px;bottom:141px;z-index:10;margin:0 auto}

.btn_play {display:block;overflow:hidden;width:15px;height:17px;background:url(../img/common/btn_pause.png) no-repeat center;text-indent:-9999px;cursor:pointer}
.btn_play.on {background:url(../img/common/btn_play.png) no-repeat center}

/* */

.group {overflow:hidden;position:relative;z-index:10;max-width:1200px;margin:0 auto;padding:15px 0}
.group .g_family {overflow:hidden;width:1140px;margin:0 auto}
.group .slick-track:after {display:block;clear:both;content:''}

.group .slick-slide {display:block;position:relative;float:left;max-height:290px;text-align:center}

.group .slick-dots {position:absolute;bottom:10px;margin-left:-36px;z-index:10}
.group .slick-dots li {float:left}
.group .slick-dots span {display:block;overflow:hidden;width:12px;height:12px;margin:0 14px 0 0;background:#c9c9c8;text-indent:-999px;cursor:pointer;border-radius:6px}
.group .slick-dots li.slick-active span {background:#506c87}

.group .slick-arrow {display:block;z-index:100;width:11px;height:16px;text-indent:-9999px;cursor:pointer}
.group .slick-prev {position:absolute;top:24px;left:0px;background:url(../img/common/left.png) no-repeat 0 0}
.group .slick-next {position:absolute;top:24px;right:0px;background:url(../img/common/right.png) no-repeat 0 0}

/* widget 라인 */

.row {position:relative;z-index:51;width:100%;background-color:#0b65b6}
.row:after {display:block;clear:both;content:''}

/* widget */

.widget {max-width:1200px;margin:0px auto}
.widget ul:after {display:block;clear:both;content:''}
.widget ul li {float:left;width:10%;padding:30px 0;background:url(../img/common/bar.png) 100% 50% no-repeat;text-align:center;cursor:pointer}
.widget ul li:last-child {background:none}
.widget ul li a {position:relative;display:block;font-size:14px;color:#d3eaf4;transition:all 1.9s}
.widget ul li a .txt {display:block;margin-top:10px}
.widget ul li:hover a {top:-10px;color:#4edaef}

/* */

.ico.mp_01 {width:39px;height:39px;background-position:0 0}
.ico.mp_02 {width:39px;height:39px;background-position:-40px 0}
.ico.mp_03 {width:39px;height:39px;background-position:-80px 0}
.ico.mp_04 {width:39px;height:39px;background-position:-120px 0}
.ico.mp_05 {width:39px;height:39px;background-position:-160px 0}
.ico.mp_06 {width:39px;height:39px;background-position:-200px 0}
.ico.mp_07 {width:39px;height:39px;background-position:-240px 0}
.ico.mp_08 {width:39px;height:39px;background-position:-280px 0}
.ico.mp_09 {width:39px;height:39px;background-position:-320px 0}
.ico.mp_10 {width:39px;height:39px;background-position:-360px 0}

/* 메인 (3단) */

.col_wrap {max-width:1200px;margin:0 auto;text-align:center}
.col_wrap:after {display:block;clear:both;content:''}
.col_wrap > .col:first-child {border-left:1px solid #eee}
.col_wrap > .col {position:relative;float:left;width:33.3%;padding:40px 40px;border:1px solid #eee;border-left:0;color:#555}
.col_wrap > .col > strong {display:block;padding:15px 0 10px;border-bottom:1px solid #f1f1f1;font-size:26px;font-weight:400;color:#111}

.col_wrap > .col .more {position:absolute;top:30px;right:35px}
.col_wrap > .col p.more a {display:block;width:auto}

.col_wrap > .col > ul {padding:15px 0 0;text-align:left}
.col_wrap > .col > ul > li {margin-left:0}
.col_wrap > .col > ul > li a:before {content:'';display:inline-block;position:relative;top:-3px;width:2px;height:2px;margin-right:5px;background-color:#666}
.col_wrap > .col > ul > li:first-child {padding-top:10px}
.col_wrap > .col > ul > li a {display:inline-block;width:100%;padding:5px 0;font-size:14px;color:#666}
.col_wrap > .col > ul > li a:hover {text-decoration:underline}

.col_wrap > .col > ul > li .date {float:right;font-size:12px;color:#9a9a9a}

.ico.ico_news {width:119px;height:119px;background-position:0 -100px}
.ico.ico_tech {width:119px;height:119px;background-position:-120px -100px}
.ico.ico_notice {width:119px;height:119px;background-position:-240px -100px}

/* */

.developers ul {position:fixed;top:314px;right:0;z-index:10000;width:118px;padding:12px 0;background:rgba(0, 0, 0, .5)}
.developers ul li {position:relative;padding:7px 0;text-align:center}
.developers ul li a {font-size:11px;color:#fff}
.developers ul li a:before {content:'';position:absolute;top:32px;left:58px;width:4px;height:4px;margin-right:5px;background-color:#59636f}
.developers ul li:last-child a:before {display:none}

/* */

@media (max-width: 1200px) {

	/* visual */

	.visual .slick-dots {width:auto}
	.visual_btn {display:none}

	.message {width:auto;text-align:center}

	.group {width:auto}
	.group .g_family {overflow:hidden;width:auto}

	.group .slick-prev {left:10px}
	.group .slick-next {right:10px}

	.row {width:100%;height:auto;margin:0}
	.widget {width:100%}
	.widget ul li {width:20%;height:130px;padding:25px 0;background:none;border-left:0;border-bottom:1px solid #4679a8}

	.col_wrap > .col:first-child {border-top:1px solid #ddd}
	.col_wrap > .col {width:100%;height:auto;border:1px solid #ddd;border-top:0}
	.col_wrap > .col > ul > li a {padding:2px 0}
	.col_wrap > .col > ul > li a:before {top:-11px}

	.col_wrap > .col > ul > li .title {display:inline-block;overflow:hidden;width:60%;text-overflow:ellipsis;white-space:nowrap}

	/* */

	.developers {display:none}

}

@media (max-width: 600px) {

	.widget ul li {width:50%}
	
}
